# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/gradle-wrapper.jar
android/.idea/
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*

# 環境変数（機密情報）
.env
.env.*
!.env.example
